body {
    background-image: url('../images/background.png');
}

main {
    background-color: white;
    padding-bottom: 1rem;
    border: solid 0.05rem lightgray;
}

header {
    color: blue;
    padding: 0.5rem;
    border-bottom: 0.1rem solid lightgray;
    margin: 0.5rem;
}

footer {
    background-color: gray;
    color: blue;
    border-top: solid 0.35rem blue;
}

#indexFooter {
    position: relative;
    top: 1rem;
}

@media screen and (min-width: 590px) and (max-width: 1215px) {
    #indexFooter {
        position: relative;
        top: 10rem;
    }
}