body {
    background-image: url('../images/background.png');
}

main {
    background-color: white;
    padding-bottom: 1rem;
    border: solid 0.05rem lightgray;
}

header {
    color: #922724;
    padding: 0.5rem;
    border-bottom: 0.1rem solid lightgray;
    margin: 0.5rem;
}

footer {
    background-color: #5CDB95;
    color: white;
    border-top: solid 0.35rem #5CDB95;
}

nav {
    background-color: #5CDB95;
}

.card {
    height: 40rem;
}

.card-body {
    position: absolute;
    top: 22rem;
}

.btn {
    color: white;
    background-color: #E34234;
}

.far {
    margin: 0.5rem;
}

.fab {
    margin: 0.5rem;
}

#indexFooter {
    position: relative;
    top: 1rem;
}

#contactFooter {
    position: relative;
    top: 4rem;
}

#github {
    color: black;
}

#resume {
    color: #007bff;
}

@media screen and (min-width: 590px) and (max-width: 1215px) {
    html {
        font-size: 10px;
    }

    #indexFooter {
        position: relative;
        top: 10rem;
    }
}

@media screen and (max-width: 590px) {
    #card1 {
        margin-bottom: 1rem;
    }
}